# MODELADO

## Parte 1: Lectura de los datos

In [1]:
# Paqueterias 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Leer los datos 
datos_modelo = pd.read_csv('datos_completos.csv')

In [3]:
datos_modelo.head(5)

,pdv_id,mes_id,sku_id,ventas_totales,y_ventas_siguiente_mes,ventas_totales_en_tienda_de_cada_mes,ventas_promedio_en_tienda_de_cada_mes,ventas_totales_en_tienda_de_cada_sku,ventas_promedio_en_tienda_de_cada_sku,ventas_totales_1_mes_pasado,...,ventas_totales_tienda_y_mes_3_pasado,ventas_promedio_tienda_y_mes_del_mes_pasado,ventas_promedio_tienda_y_mes_2_pasado,ventas_promedio_tienda_y_mes_3_pasado,ventas_totales_tienda_y_sku_del_mes_pasado,ventas_totales_tienda_y_sku_2_pasado,ventas_totales_tienda_y_sku_3_pasado,ventas_promedio_tienda_y_sku_del_mes_pasado,ventas_promedio_tienda_y_sku_2_pasado,ventas_promedio_tienda_y_sku_3_pasado
0,1,0,1,9,4,12,0.413793,2275,1.561428,9,...,12,0.413793,0.413793,0.413793,2275,2275,2275,1.561428,1.561428,1.561428
1,1,1,1,4,0,13,0.448276,1856,1.273850,9,...,12,0.413793,0.413793,0.413793,2275,2275,2275,1.561428,1.561428,1.561428
2,1,2,1,0,0,2,0.068966,157,0.107756,4,...,12,0.448276,0.413793,0.413793,1856,2275,2275,1.273850,1.561428,1.561428
3,1,3,1,0,2,2,0.068966,2,0.001373,0,...,12,0.068966,0.448276,0.413793,157,1856,2275,0.107756,1.273850,1.561428
4,1,4,1,2,0,6,0.206897,343,0.235415,0,...,13,0.068966,0.068966,0.448276,2,157,1856,0.001373,0.107756,1.273850

In [4]:
datos_modelo.shape

(380277, 24)

In [5]:
datos_modelo.columns

Index(['pdv_id', 'mes_id', 'sku_id', 'ventas_totales',
       'y_ventas_siguiente_mes', 'ventas_totales_en_tienda_de_cada_mes',
       'ventas_promedio_en_tienda_de_cada_mes',
       'ventas_totales_en_tienda_de_cada_sku',
       'ventas_promedio_en_tienda_de_cada_sku', 'ventas_totales_1_mes_pasado',
       'ventas_totales_2_meses_pasados', 'ventas_totales_3_meses_pasados',
       'ventas_totales_tienda_y_mes_del_mes_pasado',
       'ventas_totales_tienda_y_mes_2_pasado',
       'ventas_totales_tienda_y_mes_3_pasado',
       'ventas_promedio_tienda_y_mes_del_mes_pasado',
       'ventas_promedio_tienda_y_mes_2_pasado',
       'ventas_promedio_tienda_y_mes_3_pasado',
       'ventas_totales_tienda_y_sku_del_mes_pasado',
       'ventas_totales_tienda_y_sku_2_pasado',
       'ventas_totales_tienda_y_sku_3_pasado',
       'ventas_promedio_tienda_y_sku_del_mes_pasado',
       'ventas_promedio_tienda_y_sku_2_pasado',
       'ventas_promedio_tienda_y_sku_3_pasado'],
      dtype='object')

In [6]:
datos_modelo.head(1)

,pdv_id,mes_id,sku_id,ventas_totales,y_ventas_siguiente_mes,ventas_totales_en_tienda_de_cada_mes,ventas_promedio_en_tienda_de_cada_mes,ventas_totales_en_tienda_de_cada_sku,ventas_promedio_en_tienda_de_cada_sku,ventas_totales_1_mes_pasado,...,ventas_totales_tienda_y_mes_3_pasado,ventas_promedio_tienda_y_mes_del_mes_pasado,ventas_promedio_tienda_y_mes_2_pasado,ventas_promedio_tienda_y_mes_3_pasado,ventas_totales_tienda_y_sku_del_mes_pasado,ventas_totales_tienda_y_sku_2_pasado,ventas_totales_tienda_y_sku_3_pasado,ventas_promedio_tienda_y_sku_del_mes_pasado,ventas_promedio_tienda_y_sku_2_pasado,ventas_promedio_tienda_y_sku_3_pasado
0,1,0,1,9,4,12,0.413793,2275,1.561428,9,...,12,0.413793,0.413793,0.413793,2275,2275,2275,1.561428,1.561428,1.561428

## Parte 2: Validación Cruzada - Preparación de los datos

.. .. .. .. .. .. .. .. .. .. .. .. Primera Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [7]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_1 = datos_modelo[datos_modelo['mes_id']==0]
prueba_1 = datos_modelo[datos_modelo['mes_id']==1]

In [8]:
ent_1.shape

(42253, 24)

In [9]:
prueba_1.shape

(42253, 24)

In [10]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_1.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_1.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [11]:
#head para ver datos de entrenamiento y prueba con índices 
ent_1.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
              2                    2                       1
              3                    1                       6

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
              2                                 2
              3                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
              2                                               12  ...
              3                                               12  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
              2                                          0.413793
              3                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
              2                                               77
              3                                              540

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
              2                                          0.052848
              3                                          0.370625

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

[3 rows x 21 columns]

In [12]:
prueba_1.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      1      1                    4                       0
              2                    1                       0
              3                    6                       1

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      1      1                                         13
              2                                         13
              3                                         13

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      1      1                                    0.448276
              2                                    0.448276
              3                                    0.448276

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      1      1                                       1856
              2                                         62
              3                                        748

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      1      1                                    1.273850
              2                                    0.042553
              3                                    0.513384

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                 9
              2                                 2
              3                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      1      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      1      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      1      1                                               12  ...
              2                                               12  ...
              3                                               12  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                          0.413793
              2                                          0.413793
              3                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                             2275
              2                                               77
              3                                              540

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                       2275
              2                                         77
              3                                        540

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                          1.561428
              2                                          0.052848
              3                                          0.370625

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      1      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

[3 rows x 21 columns]

In [13]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x1 = ent_1.iloc[:, ent_1.columns != 'y_ventas_siguiente_mes']
ent_y1 = ent_1.iloc[:, ent_1.columns == 'y_ventas_siguiente_mes']

prueba_x1= prueba_1.iloc[:, prueba_1.columns != 'y_ventas_siguiente_mes']
prueba_y1= prueba_1.iloc[:, prueba_1.columns == 'y_ventas_siguiente_mes']

In [14]:
#visualizar lo que hicimos anteriormente 
ent_x1.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
              2                    2                                    12
              3                    1                                    12

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
              2                                 2
              3                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
              2                                               12
              3                                               12

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
              2                                         12
              3                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
              2                                          0.413793
              3                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
              2                                               77
              3                                              540

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
              2                                          0.052848
              3                                          0.370625

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

In [15]:
ent_y1.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
              2                            1
              3                            6

In [16]:
prueba_x1.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      1      1                    4                                    13
              2                    1                                    13
              3                    6                                    13

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      1      1                                    0.448276
              2                                    0.448276
              3                                    0.448276

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      1      1                                       1856
              2                                         62
              3                                        748

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      1      1                                    1.273850
              2                                    0.042553
              3                                    0.513384

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                 9
              2                                 2
              3                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      1      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      1      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                               12
              2                                               12
              3                                               12

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                         12
              2                                         12
              3                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                          0.413793
              2                                          0.413793
              3                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                             2275
              2                                               77
              3                                              540

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                       2275
              2                                         77
              3                                        540

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                          1.561428
              2                                          0.052848
              3                                          0.370625

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      1      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

In [17]:
prueba_y1.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      1      1                            0
              2                            0
              3                            1

.. .. .. .. .. .. .. .. .. .. .. .. Segunda Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [18]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_2 = datos_modelo[datos_modelo['mes_id']<=1]
prueba_2 = datos_modelo[datos_modelo['mes_id']==2]

In [19]:
ent_2.shape

(84506, 24)

In [20]:
prueba_2.shape

(42253, 24)

In [21]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_2.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_2.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [22]:
#head para ver datos de entrenamiento y prueba con índices 
ent_2.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       0      2                    2                       1

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       0      2                                         12

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       0      2                                    0.413793

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       0      2                                         77

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       0      2                                    0.052848

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       0      2                                 2

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       0      2                                    2

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       0      2                                    2

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       0      2                                               12  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       0      2                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       0      2                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       0      2                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       0      2                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       0      2                                               77

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       0      2                                         77

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       0      2                                         77

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       0      2                                          0.052848

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       0      2                                    0.052848

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       0      2                                    0.052848

[3 rows x 21 columns]

In [23]:
prueba_2.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      2      1                    0                       0
              2                    0                       0
              3                    1                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      2      1                                          2
              2                                          2
              3                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      2      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      2      1                                        157
              2                                         72
              3                                         98

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      2      1                                    0.107756
              2                                    0.049417
              3                                    0.067261

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                 4
              2                                 1
              3                                 6

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      2      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      2      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      2      1                                               13  ...
              2                                               13  ...
              3                                               13  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                          0.448276
              2                                          0.448276
              3                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                             1856
              2                                               62
              3                                              748

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                       2275
              2                                         77
              3                                        540

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                          1.273850
              2                                          0.042553
              3                                          0.513384

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      2      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

[3 rows x 21 columns]

In [24]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x2 = ent_2.iloc[:, ent_2.columns != 'y_ventas_siguiente_mes']
ent_y2 = ent_2.iloc[:, ent_2.columns == 'y_ventas_siguiente_mes']

prueba_x2= prueba_2.iloc[:, prueba_2.columns != 'y_ventas_siguiente_mes']
prueba_y2= prueba_2.iloc[:, prueba_2.columns == 'y_ventas_siguiente_mes']

In [25]:
#visualizar lo que hicimos anteriormente 
ent_x2.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
       1      1                    4                                    13
       0      2                    2                                    12

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       0      2                                    0.413793

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       0      2                                         77

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       0      2                                    0.052848

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       0      2                                 2

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       0      2                                    2

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       0      2                                    2

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
       1      1                                               12
       0      2                                               12

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       0      2                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       0      2                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       0      2                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       0      2                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       0      2                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       0      2                                               77

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       0      2                                         77

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       0      2                                         77

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       0      2                                          0.052848

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       0      2                                    0.052848

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       0      2                                    0.052848

In [26]:
ent_y2.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
       1      1                            0
       0      2                            1

In [27]:
prueba_x2.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      2      1                    0                                     2
              2                    0                                     2
              3                    1                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      2      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      2      1                                        157
              2                                         72
              3                                         98

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      2      1                                    0.107756
              2                                    0.049417
              3                                    0.067261

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                 4
              2                                 1
              3                                 6

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      2      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      2      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                               13
              2                                               13
              3                                               13

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                         12
              2                                         12
              3                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                          0.448276
              2                                          0.448276
              3                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                             1856
              2                                               62
              3                                              748

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                       2275
              2                                         77
              3                                        540

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                          1.273850
              2                                          0.042553
              3                                          0.513384

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      2      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

In [28]:
prueba_y2.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      2      1                            0
              2                            0
              3                            0

.. .. .. .. .. .. .. .. .. .. .. .. Tercera Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [29]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_3 = datos_modelo[datos_modelo['mes_id']<=2]
prueba_3 = datos_modelo[datos_modelo['mes_id']==3]

In [30]:
ent_3.shape

(126759, 24)

In [31]:
prueba_3.shape

(42253, 24)

In [32]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_3.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_3.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [33]:
#head para ver datos de entrenamiento y prueba con índices 
ent_3.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

[3 rows x 21 columns]

In [34]:
prueba_3.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      3      1                    0                       2
              2                    0                       0
              3                    0                       4

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      3      1                                          2
              2                                          2
              3                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      3      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      3      1                                          2
              2                                         27
              3                                          7

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      3      1                                    0.001373
              2                                    0.018531
              3                                    0.004804

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                 0
              2                                 0
              3                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      3      1                                    4
              2                                    1
              3                                    6

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      3      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      3      1                                                2  ...
              2                                                2  ...
              3                                                2  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                          0.068966
              2                                          0.068966
              3                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                    0.448276
              2                                    0.448276
              3                                    0.448276

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                              157
              2                                               72
              3                                               98

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                       1856
              2                                         62
              3                                        748

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                          0.107756
              2                                          0.049417
              3                                          0.067261

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                    1.273850
              2                                    0.042553
              3                                    0.513384

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      3      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

[3 rows x 21 columns]

In [35]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x3 = ent_3.iloc[:, ent_3.columns != 'y_ventas_siguiente_mes']
ent_y3 = ent_3.iloc[:, ent_3.columns == 'y_ventas_siguiente_mes']

prueba_x3= prueba_3.iloc[:, prueba_3.columns != 'y_ventas_siguiente_mes']
prueba_y3= prueba_3.iloc[:, prueba_3.columns == 'y_ventas_siguiente_mes']

In [36]:
#visualizar lo que hicimos anteriormente 
ent_x3.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
       1      1                    4                                    13
       2      1                    0                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
       1      1                                               12
       2      1                                               13

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

In [37]:
ent_y3.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
       1      1                            0
       2      1                            0

In [38]:
prueba_x3.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      3      1                    0                                     2
              2                    0                                     2
              3                    0                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      3      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      3      1                                          2
              2                                         27
              3                                          7

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      3      1                                    0.001373
              2                                    0.018531
              3                                    0.004804

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                 0
              2                                 0
              3                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      3      1                                    4
              2                                    1
              3                                    6

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      3      1                                    9
              2                                    2
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                                2
              2                                                2
              3                                                2

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                         13
              2                                         13
              3                                         13

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                         12
              2                                         12
              3                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                          0.068966
              2                                          0.068966
              3                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                    0.448276
              2                                    0.448276
              3                                    0.448276

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                    0.413793
              2                                    0.413793
              3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                              157
              2                                               72
              3                                               98

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                       1856
              2                                         62
              3                                        748

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                       2275
              2                                         77
              3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                          0.107756
              2                                          0.049417
              3                                          0.067261

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                    1.273850
              2                                    0.042553
              3                                    0.513384

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      3      1                                    1.561428
              2                                    0.052848
              3                                    0.370625

In [39]:
prueba_y3.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      3      1                            2
              2                            0
              3                            4

.. .. .. .. .. .. .. .. .. .. .. .. Cuarta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [40]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_4 = datos_modelo[datos_modelo['mes_id']<=3]
prueba_4 = datos_modelo[datos_modelo['mes_id']==4]

In [41]:
ent_4.shape

(169012, 24)

In [42]:
prueba_4.shape

(42253, 24)

In [43]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_4.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_4.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [44]:
ent_4.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

[3 rows x 21 columns]

In [45]:
prueba_4.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      4      1                    2                       0
              2                    0                       0
              3                    4                       4

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      4      1                                          6
              2                                          6
              3                                          6

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      4      1                                    0.206897
              2                                    0.206897
              3                                    0.206897

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      4      1                                        343
              2                                         21
              3                                        264

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      4      1                                    0.235415
              2                                    0.014413
              3                                    0.181194

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                 0
              2                                 0
              3                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      4      1                                    0
              2                                    0
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      4      1                                    4
              2                                    1
              3                                    6

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      4      1                                                2  ...
              2                                                2  ...
              3                                                2  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                         13
              2                                         13
              3                                         13

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                          0.068966
              2                                          0.068966
              3                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.448276
              2                                    0.448276
              3                                    0.448276

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                                2
              2                                               27
              3                                                7

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                        157
              2                                         72
              3                                         98

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                       1856
              2                                         62
              3                                        748

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                          0.001373
              2                                          0.018531
              3                                          0.004804

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.107756
              2                                    0.049417
              3                                    0.067261

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      4      1                                    1.273850
              2                                    0.042553
              3                                    0.513384

[3 rows x 21 columns]

In [46]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x4 = ent_4.iloc[:, ent_4.columns != 'y_ventas_siguiente_mes']
ent_y4 = ent_4.iloc[:, ent_4.columns == 'y_ventas_siguiente_mes']

prueba_x4= prueba_4.iloc[:, prueba_4.columns != 'y_ventas_siguiente_mes']
prueba_y4= prueba_4.iloc[:, prueba_4.columns == 'y_ventas_siguiente_mes']

In [47]:
#visualizar lo que hicimos anteriormente 
ent_x4.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
       1      1                    4                                    13
       2      1                    0                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
       1      1                                               12
       2      1                                               13

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

In [48]:
ent_y4.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
       1      1                            0
       2      1                            0

In [49]:
prueba_x4.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      4      1                    2                                     6
              2                    0                                     6
              3                    4                                     6

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      4      1                                    0.206897
              2                                    0.206897
              3                                    0.206897

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      4      1                                        343
              2                                         21
              3                                        264

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      4      1                                    0.235415
              2                                    0.014413
              3                                    0.181194

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                 0
              2                                 0
              3                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      4      1                                    0
              2                                    0
              3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      4      1                                    4
              2                                    1
              3                                    6

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                                2
              2                                                2
              3                                                2

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                          2
              2                                          2
              3                                          2

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                         13
              2                                         13
              3                                         13

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                          0.068966
              2                                          0.068966
              3                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.448276
              2                                    0.448276
              3                                    0.448276

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                                2
              2                                               27
              3                                                7

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                        157
              2                                         72
              3                                         98

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                       1856
              2                                         62
              3                                        748

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                          0.001373
              2                                          0.018531
              3                                          0.004804

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.107756
              2                                    0.049417
              3                                    0.067261

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      4      1                                    1.273850
              2                                    0.042553
              3                                    0.513384

In [50]:
prueba_y4.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      4      1                            0
              2                            0
              3                            4

.. .. .. .. .. .. .. .. .. .. .. .. Quinta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [51]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_5 = datos_modelo[datos_modelo['mes_id']<=4]
prueba_5 = datos_modelo[datos_modelo['mes_id']==5]

In [52]:
ent_5.shape

(211265, 24)

In [53]:
prueba_5.shape

(42253, 24)

In [54]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_5.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_5.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [55]:
ent_5.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

[3 rows x 21 columns]

In [56]:
prueba_5.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      5      1                    0                       0
              2                    0                       0
              3                    4                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      5      1                                         16
              2                                         16
              3                                         16

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      5      1                                    0.551724
              2                                    0.551724
              3                                    0.551724

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      5      1                                        302
              2                                          2
              3                                        573

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      5      1                                    0.207275
              2                                    0.001373
              3                                    0.393274

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                 2
              2                                 0
              3                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      5      1                                    0
              2                                    0
              3                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      5      1                                    0
              2                                    0
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      5      1                                                6  ...
              2                                                6  ...
              3                                                6  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                          2
              2                                          2
              3                                          2

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                          0.206897
              2                                          0.206897
              3                                          0.206897

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                              343
              2                                               21
              3                                              264

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                          2
              2                                         27
              3                                          7

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                        157
              2                                         72
              3                                         98

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                          0.235415
              2                                          0.014413
              3                                          0.181194

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.001373
              2                                    0.018531
              3                                    0.004804

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      5      1                                    0.107756
              2                                    0.049417
              3                                    0.067261

[3 rows x 21 columns]

In [57]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x5 = ent_5.iloc[:, ent_5.columns != 'y_ventas_siguiente_mes']
ent_y5 = ent_5.iloc[:, ent_5.columns == 'y_ventas_siguiente_mes']

prueba_x5= prueba_5.iloc[:, prueba_5.columns != 'y_ventas_siguiente_mes']
prueba_y5= prueba_5.iloc[:, prueba_5.columns == 'y_ventas_siguiente_mes']

In [58]:
#visualizar lo que hicimos anteriormente 
ent_x5.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
       1      1                    4                                    13
       2      1                    0                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
       1      1                                               12
       2      1                                               13

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

In [59]:
ent_y5.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
       1      1                            0
       2      1                            0

In [60]:
prueba_x5.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      5      1                    0                                    16
              2                    0                                    16
              3                    4                                    16

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      5      1                                    0.551724
              2                                    0.551724
              3                                    0.551724

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      5      1                                        302
              2                                          2
              3                                        573

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      5      1                                    0.207275
              2                                    0.001373
              3                                    0.393274

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                 2
              2                                 0
              3                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      5      1                                    0
              2                                    0
              3                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      5      1                                    0
              2                                    0
              3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                                6
              2                                                6
              3                                                6

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                          2
              2                                          2
              3                                          2

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                          2
              2                                          2
              3                                          2

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                          0.206897
              2                                          0.206897
              3                                          0.206897

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                              343
              2                                               21
              3                                              264

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                          2
              2                                         27
              3                                          7

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                        157
              2                                         72
              3                                         98

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                          0.235415
              2                                          0.014413
              3                                          0.181194

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.001373
              2                                    0.018531
              3                                    0.004804

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      5      1                                    0.107756
              2                                    0.049417
              3                                    0.067261

In [61]:
prueba_y5.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      5      1                            0
              2                            0
              3                            0

.. .. .. .. .. .. .. .. .. .. .. .. Sexta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [62]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_6 = datos_modelo[datos_modelo['mes_id']<=5]
prueba_6 = datos_modelo[datos_modelo['mes_id']==6]

In [63]:
ent_6.shape

(253518, 24)

In [64]:
prueba_6.shape

(42253, 24)

In [65]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_6.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_6.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [66]:
ent_6.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

[3 rows x 21 columns]

In [67]:
prueba_6.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      6      1                    0                       0
              2                    0                       0
              3                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      6      1                                          1
              2                                          1
              3                                          1

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      6      1                                    0.034483
              2                                    0.034483
              3                                    0.034483

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      6      1                                         64
              2                                          0
              3                                        112

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      6      1                                    0.043926
              2                                    0.000000
              3                                    0.076870

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                 0
              2                                 0
              3                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      6      1                                    2
              2                                    0
              3                                    4

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      6      1                                    0
              2                                    0
              3                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      6      1                                               16  ...
              2                                               16  ...
              3                                               16  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                          2
              2                                          2
              3                                          2

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                          0.551724
              2                                          0.551724
              3                                          0.551724

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.206897
              2                                    0.206897
              3                                    0.206897

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                              302
              2                                                2
              3                                              573

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                        343
              2                                         21
              3                                        264

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                          2
              2                                         27
              3                                          7

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                          0.207275
              2                                          0.001373
              3                                          0.393274

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.235415
              2                                    0.014413
              3                                    0.181194

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      6      1                                    0.001373
              2                                    0.018531
              3                                    0.004804

[3 rows x 21 columns]

In [68]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x6 = ent_6.iloc[:, ent_6.columns != 'y_ventas_siguiente_mes']
ent_y6 = ent_6.iloc[:, ent_6.columns == 'y_ventas_siguiente_mes']

prueba_x6= prueba_6.iloc[:, prueba_6.columns != 'y_ventas_siguiente_mes']
prueba_y6= prueba_6.iloc[:, prueba_6.columns == 'y_ventas_siguiente_mes']

In [69]:
#visualizar lo que hicimos anteriormente 
ent_x6.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
       1      1                    4                                    13
       2      1                    0                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
       1      1                                               12
       2      1                                               13

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

In [70]:
ent_y6.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
       1      1                            0
       2      1                            0

In [71]:
prueba_x6.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      6      1                    0                                     1
              2                    0                                     1
              3                    0                                     1

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      6      1                                    0.034483
              2                                    0.034483
              3                                    0.034483

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      6      1                                         64
              2                                          0
              3                                        112

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      6      1                                    0.043926
              2                                    0.000000
              3                                    0.076870

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                 0
              2                                 0
              3                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      6      1                                    2
              2                                    0
              3                                    4

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      6      1                                    0
              2                                    0
              3                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                               16
              2                                               16
              3                                               16

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                          6
              2                                          6
              3                                          6

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                          2
              2                                          2
              3                                          2

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                          0.551724
              2                                          0.551724
              3                                          0.551724

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.206897
              2                                    0.206897
              3                                    0.206897

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.068966
              2                                    0.068966
              3                                    0.068966

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                              302
              2                                                2
              3                                              573

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                        343
              2                                         21
              3                                        264

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                          2
              2                                         27
              3                                          7

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                          0.207275
              2                                          0.001373
              3                                          0.393274

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.235415
              2                                    0.014413
              3                                    0.181194

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      6      1                                    0.001373
              2                                    0.018531
              3                                    0.004804

In [72]:
prueba_y6.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      6      1                            0
              2                            0
              3                            0

.. .. .. .. .. .. .. .. .. .. .. .. Séptima Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [73]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_7 = datos_modelo[datos_modelo['mes_id']<=6]
prueba_7 = datos_modelo[datos_modelo['mes_id']==7]

In [74]:
ent_7.shape

(295771, 24)

In [75]:
prueba_7.shape

(42253, 24)

In [76]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_7.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_7.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [77]:
ent_7.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

[3 rows x 21 columns]

In [78]:
prueba_7.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      7      1                    0                       0
              2                    0                       0
              3                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      7      1                                          0
              2                                          0
              3                                          0

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      7      1                                         0.0
              2                                         0.0
              3                                         0.0

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      7      1                                         38
              2                                          2
              3                                         49

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      7      1                                    0.026081
              2                                    0.001373
              3                                    0.033631

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                 0
              2                                 0
              3                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      7      1                                    0
              2                                    0
              3                                    4

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      7      1                                    2
              2                                    0
              3                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      7      1                                                1  ...
              2                                                1  ...
              3                                                1  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                          6
              2                                          6
              3                                          6

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                          0.034483
              2                                          0.034483
              3                                          0.034483

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.551724
              2                                    0.551724
              3                                    0.551724

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.206897
              2                                    0.206897
              3                                    0.206897

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                               64
              2                                                0
              3                                              112

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                        302
              2                                          2
              3                                        573

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                        343
              2                                         21
              3                                        264

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                          0.043926
              2                                          0.000000
              3                                          0.076870

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.207275
              2                                    0.001373
              3                                    0.393274

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      7      1                                    0.235415
              2                                    0.014413
              3                                    0.181194

[3 rows x 21 columns]

In [79]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x7 = ent_7.iloc[:, ent_7.columns != 'y_ventas_siguiente_mes']
ent_y7 = ent_7.iloc[:, ent_7.columns == 'y_ventas_siguiente_mes']

prueba_x7= prueba_7.iloc[:, prueba_7.columns != 'y_ventas_siguiente_mes']
prueba_y7= prueba_7.iloc[:, prueba_7.columns == 'y_ventas_siguiente_mes']

In [80]:
#visualizar lo que hicimos anteriormente 
ent_x7.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
       1      1                    4                                    13
       2      1                    0                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
       1      1                                               12
       2      1                                               13

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

In [81]:
ent_y7.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
       1      1                            0
       2      1                            0

In [82]:
prueba_x7.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      7      1                    0                                     0
              2                    0                                     0
              3                    0                                     0

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      7      1                                         0.0
              2                                         0.0
              3                                         0.0

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      7      1                                         38
              2                                          2
              3                                         49

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      7      1                                    0.026081
              2                                    0.001373
              3                                    0.033631

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                 0
              2                                 0
              3                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      7      1                                    0
              2                                    0
              3                                    4

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      7      1                                    2
              2                                    0
              3                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                                1
              2                                                1
              3                                                1

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                         16
              2                                         16
              3                                         16

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                          6
              2                                          6
              3                                          6

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                          0.034483
              2                                          0.034483
              3                                          0.034483

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.551724
              2                                    0.551724
              3                                    0.551724

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.206897
              2                                    0.206897
              3                                    0.206897

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                               64
              2                                                0
              3                                              112

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                        302
              2                                          2
              3                                        573

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                        343
              2                                         21
              3                                        264

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                          0.043926
              2                                          0.000000
              3                                          0.076870

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.207275
              2                                    0.001373
              3                                    0.393274

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      7      1                                    0.235415
              2                                    0.014413
              3                                    0.181194

In [83]:
prueba_y7.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      7      1                            0
              2                            0
              3                            0

.. .. .. .. .. .. .. .. .. .. .. .. Octava Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [84]:
#1. DIVIR DATOS EN ENTRENAMIENTO Y PRUEBA
ent_8 = datos_modelo[datos_modelo['mes_id']<=7]
prueba_8 = datos_modelo[datos_modelo['mes_id']==8]

In [85]:
ent_8.shape

(338024, 24)

In [86]:
prueba_8.shape

(42253, 24)

In [87]:
#2. GENERAR ÍNDICES EN PYTHON 
ent_8.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)
prueba_8.set_index(['pdv_id', 'mes_id','sku_id'], inplace=True)

In [88]:
ent_8.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

[3 rows x 21 columns]

In [89]:
prueba_8.head(3)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      8      1                    0                       0
              2                    0                       0
              3                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      8      1                                          1
              2                                          1
              3                                          1

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      8      1                                    0.034483
              2                                    0.034483
              3                                    0.034483

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      8      1                                         19
              2                                          1
              3                                         26

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      8      1                                    0.013040
              2                                    0.000686
              3                                    0.017845

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                 0
              2                                 0
              3                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      8      1                                    0
              2                                    0
              3                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      8      1                                    0
              2                                    0
              3                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      8      1                                                0  ...
              2                                                0  ...
              3                                                0  ...

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                         16
              2                                         16
              3                                         16

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                               0.0
              2                                               0.0
              3                                               0.0

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.034483
              2                                    0.034483
              3                                    0.034483

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.551724
              2                                    0.551724
              3                                    0.551724

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                               38
              2                                                2
              3                                               49

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                         64
              2                                          0
              3                                        112

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                        302
              2                                          2
              3                                        573

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                          0.026081
              2                                          0.001373
              3                                          0.033631

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.043926
              2                                    0.000000
              3                                    0.076870

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      8      1                                    0.207275
              2                                    0.001373
              3                                    0.393274

[3 rows x 21 columns]

In [90]:
#3. DIVIDIR AMBOS CONJUNTOS (ENTRENAMIENTO Y PRUEBA) EN VARIABLES DE ENTRADA (X) Y VARIABLE REPSUESTA (Y)
ent_x8 = ent_8.iloc[:, ent_8.columns != 'y_ventas_siguiente_mes']
ent_y8 = ent_8.iloc[:, ent_8.columns == 'y_ventas_siguiente_mes']

prueba_x8= prueba_8.iloc[:, prueba_8.columns != 'y_ventas_siguiente_mes']
prueba_y8= prueba_8.iloc[:, prueba_8.columns == 'y_ventas_siguiente_mes']

In [91]:
#visualizar lo que hicimos anteriormente 
ent_x8.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                    9                                    12
       1      1                    4                                    13
       2      1                    0                                     2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                               12
       1      1                                               12
       2      1                                               13

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         12
       2      1                                         12

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428

In [92]:
ent_y8.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      0      1                            4
       1      1                            0
       2      1                            0

In [93]:
prueba_x8.head(3)

                      ventas_totales  ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      8      1                    0                                     1
              2                    0                                     1
              3                    0                                     1

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      8      1                                    0.034483
              2                                    0.034483
              3                                    0.034483

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      8      1                                         19
              2                                          1
              3                                         26

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      8      1                                    0.013040
              2                                    0.000686
              3                                    0.017845

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                 0
              2                                 0
              3                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      8      1                                    0
              2                                    0
              3                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      8      1                                    0
              2                                    0
              3                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                                0
              2                                                0
              3                                                0

                      ventas_totales_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                          1
              2                                          1
              3                                          1

                      ventas_totales_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                         16
              2                                         16
              3                                         16

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                               0.0
              2                                               0.0
              3                                               0.0

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.034483
              2                                    0.034483
              3                                    0.034483

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.551724
              2                                    0.551724
              3                                    0.551724

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                               38
              2                                                2
              3                                               49

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                         64
              2                                          0
              3                                        112

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                        302
              2                                          2
              3                                        573

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                          0.026081
              2                                          0.001373
              3                                          0.033631

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.043926
              2                                    0.000000
              3                                    0.076870

                      ventas_promedio_tienda_y_sku_3_pasado
pdv_id mes_id sku_id
1      8      1                                    0.207275
              2                                    0.001373
              3                                    0.393274

In [94]:
prueba_y8.head(3)

                      y_ventas_siguiente_mes
pdv_id mes_id sku_id
1      8      1                            0
              2                            0
              3                            0

# Parte 3: Modelado

In [95]:
import numpy as np #determinar un rango de valores "clip"
from sklearn import tree #importar función para construir árboles
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error #errores que queremos calcular 
#from scipy.stats import sem
import warnings; warnings.simplefilter('ignore')#WARNING EN 3.3

## Parte 3.1: Entrenar Modelo (8 modelos en total - Validación Cruzada)

.. .. .. .. .. .. .. .. .. .. .. .. Primera Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [96]:
# 1. CONSTRUIR MODELO
modelo_1 = tree.DecisionTreeRegressor(max_depth=5)

In [97]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_1.fit(ent_x1, ent_y1)

DecisionTreeRegressor(max_depth=5)

In [98]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred1_ent = modelo_1.predict(ent_x1) 
pred1_ent

array([4.29411765e+00, 2.85714286e-01, 1.15307820e+00, ...,
       6.86718857e-04, 6.86718857e-04, 6.86718857e-04])

In [99]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred1_ent)

9.933333333333334

In [100]:
min(pred1_ent)

0.0006867188572998214

In [101]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred1_ent = np.clip(pred1_ent,0,20).round() #rango de valores 
pred1_ent

array([4., 0., 1., ..., 0., 0., 0.])

In [102]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_1['ventas_por_mes_pred'] = pred1_ent

In [103]:
ent_1.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
              2                    2                       1
              3                    1                       6
              4                    0                       2
              5                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
              2                                         12
              3                                         12
              4                                         12
              5                                         12

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
              2                                 2
              3                                 1
              4                                 0
              5                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
              2                                    2
              3                                    1
              4                                    0
              5                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
              2                                    2
              3                                    1
              4                                    0
              5                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
              2                                               12  ...
              3                                               12  ...
              4                                               12  ...
              5                                               12  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
              2                                          0.413793
              3                                          0.413793
              4                                          0.413793
              5                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
              2                                               77
              3                                              540
              4                                               28
              5                                               32

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
              2                                          0.052848
              3                                          0.370625
              4                                          0.019218
              5                                          0.021963

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       4.0
              2                       0.0
              3                       1.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [104]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent1_mae = mean_absolute_error(ent_1.y_ventas_siguiente_mes, ent_1.ventas_por_mes_pred)

# Mean squared error (MSE)
ent1_mse = mean_squared_error(ent_1.y_ventas_siguiente_mes, ent_1.ventas_por_mes_pred)

# R-squared scores
ent1_r2 = r2_score(ent_1.y_ventas_siguiente_mes, ent_1.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent1_mae, 6))
print('Mean Squared Error:', round(ent1_mse, 6))
print('R-squared scores:', round(ent1_r2, 6))

Mean Absolute Error: 0.099591
Mean Squared Error: 0.256218
R-squared scores: 0.405829

.. .. .. .. .. .. .. .. .. .. .. .. Segunda Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [105]:
# 1. CONSTRUIR MODELO
modelo_2 = tree.DecisionTreeRegressor(max_depth=5)

In [106]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_2.fit(ent_x2, ent_y2)

DecisionTreeRegressor(max_depth=5)

In [107]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred2_ent = modelo_2.predict(ent_x2) 
pred2_ent

array([4.92187500e+00, 3.56973995e-01, 6.53295129e-01, ...,
       3.39826311e-03, 3.39826311e-03, 3.39826311e-03])

In [108]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred2_ent)

9.666666666666666

In [109]:
min(pred2_ent)

0.0033982631099660175

In [110]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred2_ent = np.clip(pred2_ent,0,20).round() #rango de valores 
pred2_ent

array([5., 0., 1., ..., 0., 0., 0.])

In [111]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_2['ventas_por_mes_pred'] = pred2_ent

In [112]:
ent_2.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       0      2                    2                       1
       1      2                    1                       0
       0      3                    1                       6

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       0      2                                         12
       1      2                                         13
       0      3                                         12

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       0      2                                    0.413793
       1      2                                    0.448276
       0      3                                    0.413793

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       0      2                                         77
       1      2                                         62
       0      3                                        540

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       0      2                                    0.052848
       1      2                                    0.042553
       0      3                                    0.370625

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       0      2                                 2
       1      2                                 2
       0      3                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       0      2                                    2
       1      2                                    2
       0      3                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       0      2                                    2
       1      2                                    2
       0      3                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       0      2                                               12  ...
       1      2                                               12  ...
       0      3                                               12  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       0      2                                          0.413793
       1      2                                          0.413793
       0      3                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       0      2                                    0.413793
       1      2                                    0.413793
       0      3                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       0      2                                    0.413793
       1      2                                    0.413793
       0      3                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       0      2                                               77
       1      2                                               77
       0      3                                              540

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       0      2                                         77
       1      2                                         77
       0      3                                        540

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       0      2                                         77
       1      2                                         77
       0      3                                        540

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       0      2                                          0.052848
       1      2                                          0.052848
       0      3                                          0.370625

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       0      2                                    0.052848
       1      2                                    0.052848
       0      3                                    0.370625

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       0      2                                    0.052848
       1      2                                    0.052848
       0      3                                    0.370625

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       5.0
       1      1                       0.0
       0      2                       1.0
       1      2                       1.0
       0      3                       1.0

[5 rows x 22 columns]

In [113]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent2_mae = mean_absolute_error(ent_2.y_ventas_siguiente_mes, ent_2.ventas_por_mes_pred)

# Mean squared error (MSE)
ent2_mse = mean_squared_error(ent_2.y_ventas_siguiente_mes, ent_2.ventas_por_mes_pred)

# R-squared scores
ent2_r2 = r2_score(ent_2.y_ventas_siguiente_mes, ent_2.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent2_mae, 6))
print('Mean Squared Error:', round(ent2_mse, 6))
print('R-squared scores:', round(ent2_r2, 6))

Mean Absolute Error: 0.069818
Mean Squared Error: 0.159728
R-squared scores: 0.337961

.. .. .. .. .. .. .. .. .. .. .. .. Tercera Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [114]:
# 1. CONSTRUIR MODELO
modelo_3 = tree.DecisionTreeRegressor(max_depth=5)

In [115]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_3.fit(ent_x3, ent_y3)

DecisionTreeRegressor(max_depth=5)

In [116]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred3_ent = modelo_3.predict(ent_x3) 
pred3_ent

array([4.92187500e+00, 3.56973995e-01, 2.06431325e-02, ...,
       7.34023157e-04, 7.34023157e-04, 7.34023157e-04])

In [117]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred3_ent)

9.058823529411764

In [118]:
min(pred3_ent)

0.0007340231572467028

In [119]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred3_ent = np.clip(pred3_ent,0,20).round() #rango de valores 
pred3_ent

array([5., 0., 0., ..., 0., 0., 0.])

In [120]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_3['ventas_por_mes_pred'] = pred3_ent

In [121]:
ent_3.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0
       0      2                    2                       1
       1      2                    1                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2
       0      2                                         12
       1      2                                         13

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966
       0      2                                    0.413793
       1      2                                    0.448276

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157
       0      2                                         77
       1      2                                         62

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756
       0      2                                    0.052848
       1      2                                    0.042553

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4
       0      2                                 2
       1      2                                 2

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       0      2                                    2
       1      2                                    2

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       0      2                                    2
       1      2                                    2

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...
       0      2                                               12  ...
       1      2                                               12  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276
       0      2                                          0.413793
       1      2                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       0      2                                    0.413793
       1      2                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       0      2                                    0.413793
       1      2                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856
       0      2                                               77
       1      2                                               77

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       0      2                                         77
       1      2                                         77

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       0      2                                         77
       1      2                                         77

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850
       0      2                                          0.052848
       1      2                                          0.052848

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       0      2                                    0.052848
       1      2                                    0.052848

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       0      2                                    0.052848
       1      2                                    0.052848

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       5.0
       1      1                       0.0
       2      1                       0.0
       0      2                       0.0
       1      2                       0.0

[5 rows x 22 columns]

In [122]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent3_mae = mean_absolute_error(ent_3.y_ventas_siguiente_mes, ent_3.ventas_por_mes_pred)

# Mean squared error (MSE)
ent3_mse = mean_squared_error(ent_3.y_ventas_siguiente_mes, ent_3.ventas_por_mes_pred)

# R-squared scores
ent3_r2 = r2_score(ent_3.y_ventas_siguiente_mes, ent_3.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent3_mae, 6))
print('Mean Squared Error:', round(ent3_mse, 6))
print('R-squared scores:', round(ent3_r2, 6))

Mean Absolute Error: 0.051484
Mean Squared Error: 0.116157
R-squared scores: 0.314014

.. .. .. .. .. .. .. .. .. .. .. .. Cuarta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [123]:
# 1. CONSTRUIR MODELO
modelo_4 = tree.DecisionTreeRegressor(max_depth=5)

In [124]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_4.fit(ent_x4, ent_y4)

DecisionTreeRegressor(max_depth=5)

In [125]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred4_ent = modelo_4.predict(ent_x4) 
pred4_ent

array([4.92187500e+00, 3.56973995e-01, 1.28199052e-01, ...,
       2.36158148e-03, 2.36158148e-03, 2.36158148e-03])

In [126]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred4_ent)

9.058823529411764

In [127]:
min(pred4_ent)

0.0023615814810489574

In [128]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred4_ent = np.clip(pred4_ent,0,20).round() #rango de valores 
pred4_ent

array([5., 0., 0., ..., 0., 0., 0.])

In [129]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_4['ventas_por_mes_pred'] = pred4_ent

In [130]:
ent_4.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0
       3      1                    0                       2
       0      2                    2                       1

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2
       3      1                                          2
       0      2                                         12

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966
       3      1                                    0.068966
       0      2                                    0.413793

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157
       3      1                                          2
       0      2                                         77

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756
       3      1                                    0.001373
       0      2                                    0.052848

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4
       3      1                                 0
       0      2                                 2

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    4
       0      2                                    2

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    9
       0      2                                    2

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...
       3      1                                                2  ...
       0      2                                               12  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276
       3      1                                          0.068966
       0      2                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.448276
       0      2                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.413793
       0      2                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856
       3      1                                              157
       0      2                                               77

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       1856
       0      2                                         77

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       2275
       0      2                                         77

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850
       3      1                                          0.107756
       0      2                                          0.052848

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.273850
       0      2                                    0.052848

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.561428
       0      2                                    0.052848

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       5.0
       1      1                       0.0
       2      1                       0.0
       3      1                       0.0
       0      2                       0.0

[5 rows x 22 columns]

In [131]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent4_mae = mean_absolute_error(ent_4.y_ventas_siguiente_mes, ent_4.ventas_por_mes_pred)

# Mean squared error (MSE)
ent4_mse = mean_squared_error(ent_4.y_ventas_siguiente_mes, ent_4.ventas_por_mes_pred)

# R-squared scores
ent4_r2 = r2_score(ent_4.y_ventas_siguiente_mes, ent_4.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent4_mae, 6))
print('Mean Squared Error:', round(ent4_mse, 6))
print('R-squared scores:', round(ent4_r2, 6))

Mean Absolute Error: 0.058564
Mean Squared Error: 0.147634
R-squared scores: 0.208514

.. .. .. .. .. .. .. .. .. .. .. .. Quinta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [132]:
# 1. CONSTRUIR MODELO
modelo_5 = tree.DecisionTreeRegressor(max_depth=5)

In [133]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_5.fit(ent_x5, ent_y5)

DecisionTreeRegressor(max_depth=5)

In [134]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred5_ent = modelo_5.predict(ent_x5) 
pred5_ent

array([4.921875  , 0.35839599, 0.02027127, ..., 0.00676079, 0.00676079,
       0.00676079])

In [135]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred5_ent)

29.5

In [136]:
min(pred5_ent)

0.00676079145792217

In [137]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred5_ent = np.clip(pred5_ent,0,20).round() #rango de valores 
pred5_ent

array([5., 0., 0., ..., 0., 0., 0.])

In [138]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_5['ventas_por_mes_pred'] = pred5_ent

In [139]:
ent_5.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0
       3      1                    0                       2
       4      1                    2                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2
       3      1                                          2
       4      1                                          6

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966
       3      1                                    0.068966
       4      1                                    0.206897

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157
       3      1                                          2
       4      1                                        343

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756
       3      1                                    0.001373
       4      1                                    0.235415

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4
       3      1                                 0
       4      1                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    4
       4      1                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    9
       4      1                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...
       3      1                                                2  ...
       4      1                                                2  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276
       3      1                                          0.068966
       4      1                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.448276
       4      1                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.413793
       4      1                                    0.448276

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856
       3      1                                              157
       4      1                                                2

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       1856
       4      1                                        157

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       2275
       4      1                                       1856

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850
       3      1                                          0.107756
       4      1                                          0.001373

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.273850
       4      1                                    0.107756

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.561428
       4      1                                    1.273850

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       5.0
       1      1                       0.0
       2      1                       0.0
       3      1                       0.0
       4      1                       1.0

[5 rows x 22 columns]

In [140]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent5_mae = mean_absolute_error(ent_5.y_ventas_siguiente_mes, ent_5.ventas_por_mes_pred)

# Mean squared error (MSE)
ent5_mse = mean_squared_error(ent_5.y_ventas_siguiente_mes, ent_5.ventas_por_mes_pred)

# R-squared scores
ent5_r2 = r2_score(ent_5.y_ventas_siguiente_mes, ent_5.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent5_mae, 6))
print('Mean Squared Error:', round(ent5_mse, 6))
print('R-squared scores:', round(ent5_r2, 6))

Mean Absolute Error: 0.080747
Mean Squared Error: 0.226214
R-squared scores: 0.183286

.. .. .. .. .. .. .. .. .. .. .. .. Sexta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [141]:
# 1. CONSTRUIR MODELO
modelo_6 = tree.DecisionTreeRegressor(max_depth=5)

In [142]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_6.fit(ent_x6, ent_y6)

DecisionTreeRegressor(max_depth=5)

In [143]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred6_ent = modelo_6.predict(ent_x6) 
pred6_ent

array([4.921875  , 0.35434783, 0.0240414 , ..., 0.00695257, 0.00695257,
       0.00695257])

In [144]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred6_ent)

25.333333333333332

In [145]:
min(pred6_ent)

0.006952574938653751

In [146]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred6_ent = np.clip(pred6_ent,0,20).round() #rango de valores 
pred6_ent

array([5., 0., 0., ..., 0., 0., 0.])

In [147]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_6['ventas_por_mes_pred'] = pred6_ent

In [148]:
ent_6.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0
       3      1                    0                       2
       4      1                    2                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2
       3      1                                          2
       4      1                                          6

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966
       3      1                                    0.068966
       4      1                                    0.206897

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157
       3      1                                          2
       4      1                                        343

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756
       3      1                                    0.001373
       4      1                                    0.235415

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4
       3      1                                 0
       4      1                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    4
       4      1                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    9
       4      1                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...
       3      1                                                2  ...
       4      1                                                2  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276
       3      1                                          0.068966
       4      1                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.448276
       4      1                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.413793
       4      1                                    0.448276

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856
       3      1                                              157
       4      1                                                2

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       1856
       4      1                                        157

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       2275
       4      1                                       1856

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850
       3      1                                          0.107756
       4      1                                          0.001373

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.273850
       4      1                                    0.107756

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.561428
       4      1                                    1.273850

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       5.0
       1      1                       0.0
       2      1                       0.0
       3      1                       0.0
       4      1                       1.0

[5 rows x 22 columns]

In [149]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent6_mae = mean_absolute_error(ent_6.y_ventas_siguiente_mes, ent_6.ventas_por_mes_pred)

# Mean squared error (MSE)
ent6_mse = mean_squared_error(ent_6.y_ventas_siguiente_mes, ent_6.ventas_por_mes_pred)

# R-squared scores
ent6_r2 = r2_score(ent_6.y_ventas_siguiente_mes, ent_6.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent6_mae, 6))
print('Mean Squared Error:', round(ent6_mse, 6))
print('R-squared scores:', round(ent6_r2, 6))

Mean Absolute Error: 0.083584
Mean Squared Error: 0.205871
R-squared scores: 0.172348

.. .. .. .. .. .. .. .. .. .. .. .. Séptima Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [150]:
# 1. CONSTRUIR MODELO
modelo_7 = tree.DecisionTreeRegressor(max_depth=5)

In [151]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_7.fit(ent_x7, ent_y7)

DecisionTreeRegressor(max_depth=5)

In [152]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred7_ent = modelo_7.predict(ent_x7) 
pred7_ent

array([4.29411765, 0.35434783, 0.07670088, ..., 0.00495882, 0.00495882,
       0.00495882])

In [153]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred7_ent)

26.0

In [154]:
min(pred7_ent)

0.0049588166078332494

In [155]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred7_ent = np.clip(pred7_ent,0,20).round() #rango de valores 
pred7_ent

array([4., 0., 0., ..., 0., 0., 0.])

In [156]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_7['ventas_por_mes_pred'] = pred7_ent

In [157]:
ent_7.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0
       3      1                    0                       2
       4      1                    2                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2
       3      1                                          2
       4      1                                          6

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966
       3      1                                    0.068966
       4      1                                    0.206897

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157
       3      1                                          2
       4      1                                        343

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756
       3      1                                    0.001373
       4      1                                    0.235415

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4
       3      1                                 0
       4      1                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    4
       4      1                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    9
       4      1                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...
       3      1                                                2  ...
       4      1                                                2  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276
       3      1                                          0.068966
       4      1                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.448276
       4      1                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.413793
       4      1                                    0.448276

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856
       3      1                                              157
       4      1                                                2

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       1856
       4      1                                        157

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       2275
       4      1                                       1856

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850
       3      1                                          0.107756
       4      1                                          0.001373

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.273850
       4      1                                    0.107756

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.561428
       4      1                                    1.273850

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       4.0
       1      1                       0.0
       2      1                       0.0
       3      1                       0.0
       4      1                       1.0

[5 rows x 22 columns]

In [158]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent7_mae = mean_absolute_error(ent_7.y_ventas_siguiente_mes, ent_7.ventas_por_mes_pred)

# Mean squared error (MSE)
ent7_mse = mean_squared_error(ent_7.y_ventas_siguiente_mes, ent_7.ventas_por_mes_pred)

# R-squared scores
ent7_r2 = r2_score(ent_7.y_ventas_siguiente_mes, ent_7.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent7_mae, 6))
print('Mean Squared Error:', round(ent7_mse, 6))
print('R-squared scores:', round(ent7_r2, 6))

Mean Absolute Error: 0.07377
Mean Squared Error: 0.181164
R-squared scores: 0.176856

.. .. .. .. .. .. .. .. .. .. .. .. Octava Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [159]:
# 1. CONSTRUIR MODELO
modelo_8 = tree.DecisionTreeRegressor(max_depth=5)

In [160]:
# 2. ENTRENAMOS EL MODELO (.FIT)
modelo_8.fit(ent_x8, ent_y8)

DecisionTreeRegressor(max_depth=5)

In [161]:
# 3. HACER PREDICCIONES: CALCULAR ERROR DE ENTRENAMIENTO 
pred8_ent = modelo_8.predict(ent_x8) 
pred8_ent

array([4.921875  , 0.35434783, 0.085669  , ..., 0.00499232, 0.00499232,
       0.00499232])

In [162]:
# 3.1 CALCULAR MÁXIMOS Y MÍNIMOS DE PREDICCIÓN (PARA VER RANGO DE PREDICCIÓN) - max() - min()
max(pred8_ent)

21.0

In [163]:
min(pred8_ent)

0.004992317247631888

In [164]:
# 3.2 REDONDEAR Y AJUSTAR VALORES
pred8_ent = np.clip(pred8_ent,0,20).round() #rango de valores 
pred8_ent

array([5., 0., 0., ..., 0., 0., 0.])

In [165]:
# 3.3 JUNTAR DATOS PARA PODER CALCULAR ERROR
ent_8['ventas_por_mes_pred'] = pred8_ent

In [166]:
ent_8.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      0      1                    9                       4
       1      1                    4                       0
       2      1                    0                       0
       3      1                    0                       2
       4      1                    2                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                         12
       1      1                                         13
       2      1                                          2
       3      1                                          2
       4      1                                          6

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.448276
       2      1                                    0.068966
       3      1                                    0.068966
       4      1                                    0.206897

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       1856
       2      1                                        157
       3      1                                          2
       4      1                                        343

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.273850
       2      1                                    0.107756
       3      1                                    0.001373
       4      1                                    0.235415

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                 9
       1      1                                 9
       2      1                                 4
       3      1                                 0
       4      1                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    4
       4      1                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      0      1                                    9
       1      1                                    9
       2      1                                    9
       3      1                                    9
       4      1                                    4

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      0      1                                               12  ...
       1      1                                               12  ...
       2      1                                               13  ...
       3      1                                                2  ...
       4      1                                                2  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          0.413793
       1      1                                          0.413793
       2      1                                          0.448276
       3      1                                          0.068966
       4      1                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.448276
       4      1                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    0.413793
       1      1                                    0.413793
       2      1                                    0.413793
       3      1                                    0.413793
       4      1                                    0.448276

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                             2275
       1      1                                             2275
       2      1                                             1856
       3      1                                              157
       4      1                                                2

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       1856
       4      1                                        157

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                       2275
       1      1                                       2275
       2      1                                       2275
       3      1                                       2275
       4      1                                       1856

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      0      1                                          1.561428
       1      1                                          1.561428
       2      1                                          1.273850
       3      1                                          0.107756
       4      1                                          0.001373

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.273850
       4      1                                    0.107756

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      0      1                                    1.561428
       1      1                                    1.561428
       2      1                                    1.561428
       3      1                                    1.561428
       4      1                                    1.273850

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      0      1                       5.0
       1      1                       0.0
       2      1                       0.0
       3      1                       0.0
       4      1                       1.0

[5 rows x 22 columns]

In [167]:
# 3.4 CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA 

# Mean absolute error (MAE)
ent8_mae = mean_absolute_error(ent_8.y_ventas_siguiente_mes, ent_8.ventas_por_mes_pred)

# Mean squared error (MSE)
ent8_mse = mean_squared_error(ent_8.y_ventas_siguiente_mes, ent_8.ventas_por_mes_pred)

# R-squared scores
ent8_r2 = r2_score(ent_8.y_ventas_siguiente_mes, ent_8.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(ent8_mae, 6))
print('Mean Squared Error:', round(ent8_mse, 6))
print('R-squared scores:', round(ent8_r2, 6))

Mean Absolute Error: 0.065992
Mean Squared Error: 0.161719
R-squared scores: 0.171803

## Parte 3.1: Probar Modelo (8 modelos en total - Validación Cruzada)

.. .. .. .. .. .. .. .. .. .. .. .. Primera Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [168]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred1_prueba = modelo_1.predict(prueba_x1) 
pred1_prueba

array([3.29411765e+00, 3.39285714e-01, 1.15307820e+00, ...,
       6.86718857e-04, 6.86718857e-04, 6.86718857e-04])

In [169]:
# Calcular máximo y mínimo
max(pred1_prueba)

9.933333333333334

In [170]:
min(pred1_prueba)

0.0006867188572998214

In [171]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred1_prueba = np.clip(pred1_prueba,0,20).round() #rango de valores 
pred1_prueba

array([3., 0., 1., ..., 0., 0., 0.])

In [172]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred1_prueba.sum()

2902.0

In [173]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_1['ventas_por_mes_pred'] = pred1_prueba

In [174]:
prueba_1.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      1      1                    4                       0
              2                    1                       0
              3                    6                       1
              4                    2                       1
              5                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      1      1                                         13
              2                                         13
              3                                         13
              4                                         13
              5                                         13

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      1      1                                    0.448276
              2                                    0.448276
              3                                    0.448276
              4                                    0.448276
              5                                    0.448276

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      1      1                                       1856
              2                                         62
              3                                        748
              4                                         50
              5                                         63

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      1      1                                    1.273850
              2                                    0.042553
              3                                    0.513384
              4                                    0.034317
              5                                    0.043240

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                 9
              2                                 2
              3                                 1
              4                                 0
              5                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      1      1                                    9
              2                                    2
              3                                    1
              4                                    0
              5                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      1      1                                    9
              2                                    2
              3                                    1
              4                                    0
              5                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      1      1                                               12  ...
              2                                               12  ...
              3                                               12  ...
              4                                               12  ...
              5                                               12  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                          0.413793
              2                                          0.413793
              3                                          0.413793
              4                                          0.413793
              5                                          0.413793

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                             2275
              2                                               77
              3                                              540
              4                                               28
              5                                               32

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      1      1                                          1.561428
              2                                          0.052848
              3                                          0.370625
              4                                          0.019218
              5                                          0.021963

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      1      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      1      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      1      1                       3.0
              2                       0.0
              3                       1.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [175]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba1_mae = mean_absolute_error(prueba_1.y_ventas_siguiente_mes, prueba_1.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba1_mse = mean_squared_error(prueba_1.y_ventas_siguiente_mes, prueba_1.ventas_por_mes_pred)

# R-squared scores
prueba1_r2 = r2_score(prueba_1.y_ventas_siguiente_mes, prueba_1.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba1_mae, 6))
print('Mean Squared Error:', round(prueba1_mse, 6))
print('R-squared scores:', round(prueba1_r2, 6))

Mean Absolute Error: 0.080207
Mean Squared Error: 0.157504
R-squared scores: -2.323637

.. .. .. .. .. .. .. .. .. .. .. .. Segunda Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [176]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred2_prueba = modelo_2.predict(prueba_x2) 
pred2_prueba

array([0.21714092, 0.02382376, 0.65329513, ..., 0.00339826, 0.00339826,
       0.00339826])

In [177]:
# Calcular máximo y mínimo
max(pred2_prueba)

3.2045454545454546

In [178]:
min(pred2_prueba)

0.0033982631099660175

In [179]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred2_prueba = np.clip(pred2_prueba,0,20).round() #rango de valores 
pred2_prueba

array([0., 0., 1., ..., 0., 0., 0.])

In [180]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred2_prueba.sum()

308.0

In [181]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_2['ventas_por_mes_pred'] = pred2_prueba

In [182]:
prueba_2.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      2      1                    0                       0
              2                    0                       0
              3                    1                       0
              4                    1                       1
              5                    0                       1

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      2      1                                          2
              2                                          2
              3                                          2
              4                                          2
              5                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      2      1                                    0.068966
              2                                    0.068966
              3                                    0.068966
              4                                    0.068966
              5                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      2      1                                        157
              2                                         72
              3                                         98
              4                                         61
              5                                         67

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      2      1                                    0.107756
              2                                    0.049417
              3                                    0.067261
              4                                    0.041867
              5                                    0.045985

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                 4
              2                                 1
              3                                 6
              4                                 2
              5                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      2      1                                    9
              2                                    2
              3                                    1
              4                                    0
              5                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      2      1                                    9
              2                                    2
              3                                    1
              4                                    0
              5                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      2      1                                               13  ...
              2                                               13  ...
              3                                               13  ...
              4                                               13  ...
              5                                               13  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                          0.448276
              2                                          0.448276
              3                                          0.448276
              4                                          0.448276
              5                                          0.448276

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                             1856
              2                                               62
              3                                              748
              4                                               50
              5                                               63

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      2      1                                          1.273850
              2                                          0.042553
              3                                          0.513384
              4                                          0.034317
              5                                          0.043240

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      2      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      2      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      2      1                       0.0
              2                       0.0
              3                       1.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [183]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba2_mae = mean_absolute_error(prueba_2.y_ventas_siguiente_mes, prueba_2.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba2_mse = mean_squared_error(prueba_2.y_ventas_siguiente_mes, prueba_2.ventas_por_mes_pred)

# R-squared scores
prueba2_r2 = r2_score(prueba_2.y_ventas_siguiente_mes, prueba_2.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba2_mae, 6))
print('Mean Squared Error:', round(prueba2_mse, 6))
print('R-squared scores:', round(prueba2_r2, 6))

Mean Absolute Error: 0.018863
Mean Squared Error: 0.031548
R-squared scores: -0.367705

.. .. .. .. .. .. .. .. .. .. .. .. Tercera Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [184]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred3_prueba = modelo_3.predict(prueba_x3) 
pred3_prueba

array([0.00740198, 0.02064313, 0.00740198, ..., 0.00073402, 0.00073402,
       0.00073402])

In [185]:
# Calcular máximo y mínimo
max(pred3_prueba)

0.6

In [186]:
min(pred3_prueba)

0.0007340231572467028

In [187]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred3_prueba = np.clip(pred3_prueba,0,20).round() #rango de valores 
pred3_prueba

array([0., 0., 0., ..., 0., 0., 0.])

In [188]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred3_prueba.sum()

31.0

In [189]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_3['ventas_por_mes_pred'] = pred3_prueba

In [190]:
prueba_3.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      3      1                    0                       2
              2                    0                       0
              3                    0                       4
              4                    1                       0
              5                    1                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      3      1                                          2
              2                                          2
              3                                          2
              4                                          2
              5                                          2

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      3      1                                    0.068966
              2                                    0.068966
              3                                    0.068966
              4                                    0.068966
              5                                    0.068966

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      3      1                                          2
              2                                         27
              3                                          7
              4                                        131
              5                                        156

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      3      1                                    0.001373
              2                                    0.018531
              3                                    0.004804
              4                                    0.089911
              5                                    0.107069

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                 0
              2                                 0
              3                                 1
              4                                 1
              5                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      3      1                                    4
              2                                    1
              3                                    6
              4                                    2
              5                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      3      1                                    9
              2                                    2
              3                                    1
              4                                    0
              5                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      3      1                                                2  ...
              2                                                2  ...
              3                                                2  ...
              4                                                2  ...
              5                                                2  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                          0.068966
              2                                          0.068966
              3                                          0.068966
              4                                          0.068966
              5                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                    0.448276
              2                                    0.448276
              3                                    0.448276
              4                                    0.448276
              5                                    0.448276

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                    0.413793
              2                                    0.413793
              3                                    0.413793
              4                                    0.413793
              5                                    0.413793

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                              157
              2                                               72
              3                                               98
              4                                               61
              5                                               67

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                       1856
              2                                         62
              3                                        748
              4                                         50
              5                                         63

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                       2275
              2                                         77
              3                                        540
              4                                         28
              5                                         32

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      3      1                                          0.107756
              2                                          0.049417
              3                                          0.067261
              4                                          0.041867
              5                                          0.045985

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      3      1                                    1.273850
              2                                    0.042553
              3                                    0.513384
              4                                    0.034317
              5                                    0.043240

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      3      1                                    1.561428
              2                                    0.052848
              3                                    0.370625
              4                                    0.019218
              5                                    0.021963

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      3      1                       0.0
              2                       0.0
              3                       0.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [191]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba3_mae = mean_absolute_error(prueba_3.y_ventas_siguiente_mes, prueba_3.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba3_mse = mean_squared_error(prueba_3.y_ventas_siguiente_mes, prueba_3.ventas_por_mes_pred)

# R-squared scores
prueba3_r2 = r2_score(prueba_3.y_ventas_siguiente_mes, prueba_3.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba3_mae, 6))
print('Mean Squared Error:', round(prueba3_mse, 6))
print('R-squared scores:', round(prueba3_r2, 6))

Mean Absolute Error: 0.079947
Mean Squared Error: 0.243012
R-squared scores: -0.023005

.. .. .. .. .. .. .. .. .. .. .. .. Cuarta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [192]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred4_prueba = modelo_4.predict(prueba_x4) 
pred4_prueba

array([0.21829856, 0.02562033, 0.68817204, ..., 0.00236158, 0.00236158,
       0.00236158])

In [193]:
# Calcular máximo y mínimo
max(pred4_prueba)

2.5

In [194]:
min(pred4_prueba)

0.0023615814810489574

In [195]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred4_prueba = np.clip(pred4_prueba,0,20).round() #rango de valores 
pred4_prueba

array([0., 0., 1., ..., 0., 0., 0.])

In [196]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred4_prueba.sum()

620.0

In [197]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_4['ventas_por_mes_pred'] = pred4_prueba

In [198]:
prueba_4.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      4      1                    2                       0
              2                    0                       0
              3                    4                       4
              4                    0                       0
              5                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      4      1                                          6
              2                                          6
              3                                          6
              4                                          6
              5                                          6

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      4      1                                    0.206897
              2                                    0.206897
              3                                    0.206897
              4                                    0.206897
              5                                    0.206897

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      4      1                                        343
              2                                         21
              3                                        264
              4                                        107
              5                                        158

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      4      1                                    0.235415
              2                                    0.014413
              3                                    0.181194
              4                                    0.073439
              5                                    0.108442

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                 0
              2                                 0
              3                                 0
              4                                 1
              5                                 1

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      4      1                                    0
              2                                    0
              3                                    1
              4                                    1
              5                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      4      1                                    4
              2                                    1
              3                                    6
              4                                    2
              5                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      4      1                                                2  ...
              2                                                2  ...
              3                                                2  ...
              4                                                2  ...
              5                                                2  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                          0.068966
              2                                          0.068966
              3                                          0.068966
              4                                          0.068966
              5                                          0.068966

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.068966
              2                                    0.068966
              3                                    0.068966
              4                                    0.068966
              5                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.448276
              2                                    0.448276
              3                                    0.448276
              4                                    0.448276
              5                                    0.448276

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                                2
              2                                               27
              3                                                7
              4                                              131
              5                                              156

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                        157
              2                                         72
              3                                         98
              4                                         61
              5                                         67

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                       1856
              2                                         62
              3                                        748
              4                                         50
              5                                         63

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      4      1                                          0.001373
              2                                          0.018531
              3                                          0.004804
              4                                          0.089911
              5                                          0.107069

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      4      1                                    0.107756
              2                                    0.049417
              3                                    0.067261
              4                                    0.041867
              5                                    0.045985

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      4      1                                    1.273850
              2                                    0.042553
              3                                    0.513384
              4                                    0.034317
              5                                    0.043240

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      4      1                       0.0
              2                       0.0
              3                       1.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [199]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba4_mae = mean_absolute_error(prueba_4.y_ventas_siguiente_mes, prueba_4.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba4_mse = mean_squared_error(prueba_4.y_ventas_siguiente_mes, prueba_4.ventas_por_mes_pred)

# R-squared scores
prueba4_r2 = r2_score(prueba_4.y_ventas_siguiente_mes, prueba_4.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba4_mae, 6))
print('Mean Squared Error:', round(prueba4_mse, 6))
print('R-squared scores:', round(prueba4_r2, 6))

Mean Absolute Error: 0.153528
Mean Squared Error: 0.622749
R-squared scores: 0.014466

.. .. .. .. .. .. .. .. .. .. .. .. Quinta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [200]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred5_prueba = modelo_5.predict(prueba_x5) 
pred5_prueba

array([0.69444444, 0.03972927, 0.35839599, ..., 0.00676079, 0.00676079,
       0.00676079])

In [201]:
# Calcular máximo y mínimo
max(pred5_prueba)

29.5

In [202]:
min(pred5_prueba)

0.00676079145792217

In [203]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred5_prueba = np.clip(pred5_prueba,0,20).round() #rango de valores 
pred5_prueba

array([1., 0., 0., ..., 0., 0., 0.])

In [204]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred5_prueba.sum()

6214.0

In [205]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_5['ventas_por_mes_pred'] = pred5_prueba

In [206]:
prueba_5.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      5      1                    0                       0
              2                    0                       0
              3                    4                       0
              4                    0                       0
              5                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      5      1                                         16
              2                                         16
              3                                         16
              4                                         16
              5                                         16

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      5      1                                    0.551724
              2                                    0.551724
              3                                    0.551724
              4                                    0.551724
              5                                    0.551724

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      5      1                                        302
              2                                          2
              3                                        573
              4                                        146
              5                                        166

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      5      1                                    0.207275
              2                                    0.001373
              3                                    0.393274
              4                                    0.100206
              5                                    0.113933

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                 2
              2                                 0
              3                                 4
              4                                 0
              5                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      5      1                                    0
              2                                    0
              3                                    0
              4                                    1
              5                                    1

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      5      1                                    0
              2                                    0
              3                                    1
              4                                    1
              5                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      5      1                                                6  ...
              2                                                6  ...
              3                                                6  ...
              4                                                6  ...
              5                                                6  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                          0.206897
              2                                          0.206897
              3                                          0.206897
              4                                          0.206897
              5                                          0.206897

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.068966
              2                                    0.068966
              3                                    0.068966
              4                                    0.068966
              5                                    0.068966

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.068966
              2                                    0.068966
              3                                    0.068966
              4                                    0.068966
              5                                    0.068966

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                              343
              2                                               21
              3                                              264
              4                                              107
              5                                              158

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                          2
              2                                         27
              3                                          7
              4                                        131
              5                                        156

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                        157
              2                                         72
              3                                         98
              4                                         61
              5                                         67

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      5      1                                          0.235415
              2                                          0.014413
              3                                          0.181194
              4                                          0.073439
              5                                          0.108442

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.001373
              2                                    0.018531
              3                                    0.004804
              4                                    0.089911
              5                                    0.107069

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      5      1                                    0.107756
              2                                    0.049417
              3                                    0.067261
              4                                    0.041867
              5                                    0.045985

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      5      1                       1.0
              2                       0.0
              3                       0.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [207]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba5_mae = mean_absolute_error(prueba_5.y_ventas_siguiente_mes, prueba_5.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba5_mse = mean_squared_error(prueba_5.y_ventas_siguiente_mes, prueba_5.ventas_por_mes_pred)

# R-squared scores
prueba5_r2 = r2_score(prueba_5.y_ventas_siguiente_mes, prueba_5.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba5_mae, 6))
print('Mean Squared Error:', round(prueba5_mse, 6))
print('R-squared scores:', round(prueba5_r2, 6))

Mean Absolute Error: 0.154119
Mean Squared Error: 0.217357
R-squared scores: -1.045555

.. .. .. .. .. .. .. .. .. .. .. .. Sexta Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [208]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred6_prueba = modelo_6.predict(prueba_x6) 
pred6_prueba

array([0.0240414 , 0.00695257, 0.0240414 , ..., 0.00695257, 0.00695257,
       0.00695257])

In [209]:
# Calcular máximo y mínimo
max(pred6_prueba)

11.333333333333334

In [210]:
min(pred6_prueba)

0.006952574938653751

In [211]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred6_prueba = np.clip(pred6_prueba,0,20).round() #rango de valores 
pred6_prueba

array([0., 0., 0., ..., 0., 0., 0.])

In [212]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred6_prueba.sum()

379.0

In [213]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_6['ventas_por_mes_pred'] = pred6_prueba

In [214]:
prueba_6.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      6      1                    0                       0
              2                    0                       0
              3                    0                       0
              4                    0                       0
              5                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      6      1                                          1
              2                                          1
              3                                          1
              4                                          1
              5                                          1

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      6      1                                    0.034483
              2                                    0.034483
              3                                    0.034483
              4                                    0.034483
              5                                    0.034483

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      6      1                                         64
              2                                          0
              3                                        112
              4                                         90
              5                                        104

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      6      1                                    0.043926
              2                                    0.000000
              3                                    0.076870
              4                                    0.061771
              5                                    0.071380

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                 0
              2                                 0
              3                                 4
              4                                 0
              5                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      6      1                                    2
              2                                    0
              3                                    4
              4                                    0
              5                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      6      1                                    0
              2                                    0
              3                                    0
              4                                    1
              5                                    1

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      6      1                                               16  ...
              2                                               16  ...
              3                                               16  ...
              4                                               16  ...
              5                                               16  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                          0.551724
              2                                          0.551724
              3                                          0.551724
              4                                          0.551724
              5                                          0.551724

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.206897
              2                                    0.206897
              3                                    0.206897
              4                                    0.206897
              5                                    0.206897

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.068966
              2                                    0.068966
              3                                    0.068966
              4                                    0.068966
              5                                    0.068966

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                              302
              2                                                2
              3                                              573
              4                                              146
              5                                              166

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                        343
              2                                         21
              3                                        264
              4                                        107
              5                                        158

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                          2
              2                                         27
              3                                          7
              4                                        131
              5                                        156

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      6      1                                          0.207275
              2                                          0.001373
              3                                          0.393274
              4                                          0.100206
              5                                          0.113933

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.235415
              2                                    0.014413
              3                                    0.181194
              4                                    0.073439
              5                                    0.108442

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      6      1                                    0.001373
              2                                    0.018531
              3                                    0.004804
              4                                    0.089911
              5                                    0.107069

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      6      1                       0.0
              2                       0.0
              3                       0.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [215]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba6_mae = mean_absolute_error(prueba_6.y_ventas_siguiente_mes, prueba_6.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba6_mse = mean_squared_error(prueba_6.y_ventas_siguiente_mes, prueba_6.ventas_por_mes_pred)

# R-squared scores
prueba6_r2 = r2_score(prueba_6.y_ventas_siguiente_mes, prueba_6.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba6_mae, 6))
print('Mean Squared Error:', round(prueba6_mse, 6))
print('R-squared scores:', round(prueba6_r2, 6))

Mean Absolute Error: 0.026602
Mean Squared Error: 0.057085
R-squared scores: -0.242263

.. .. .. .. .. .. .. .. .. .. .. .. Séptima Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [216]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred7_prueba = modelo_7.predict(prueba_x7) 
pred7_prueba

array([0.07670088, 0.00495882, 0.07670088, ..., 0.00495882, 0.00495882,
       0.00495882])

In [217]:
# Calcular máximo y mínimo
max(pred7_prueba)

11.5

In [218]:
min(pred7_prueba)

0.0049588166078332494

In [219]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred7_prueba = np.clip(pred7_prueba,0,20).round() #rango de valores 
pred7_prueba

array([0., 0., 0., ..., 0., 0., 0.])

In [220]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred7_prueba.sum()

76.0

In [221]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_7['ventas_por_mes_pred'] = pred7_prueba

In [222]:
prueba_7.head(5)

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      7      1                    0                       0
              2                    0                       0
              3                    0                       0
              4                    0                       0
              5                    0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      7      1                                          0
              2                                          0
              3                                          0
              4                                          0
              5                                          0

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      7      1                                         0.0
              2                                         0.0
              3                                         0.0
              4                                         0.0
              5                                         0.0

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      7      1                                         38
              2                                          2
              3                                         49
              4                                         75
              5                                         89

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      7      1                                    0.026081
              2                                    0.001373
              3                                    0.033631
              4                                    0.051476
              5                                    0.061084

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                 0
              2                                 0
              3                                 0
              4                                 0
              5                                 0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      7      1                                    0
              2                                    0
              3                                    4
              4                                    0
              5                                    0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      7      1                                    2
              2                                    0
              3                                    4
              4                                    0
              5                                    0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      7      1                                                1  ...
              2                                                1  ...
              3                                                1  ...
              4                                                1  ...
              5                                                1  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                          0.034483
              2                                          0.034483
              3                                          0.034483
              4                                          0.034483
              5                                          0.034483

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.551724
              2                                    0.551724
              3                                    0.551724
              4                                    0.551724
              5                                    0.551724

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.206897
              2                                    0.206897
              3                                    0.206897
              4                                    0.206897
              5                                    0.206897

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                               64
              2                                                0
              3                                              112
              4                                               90
              5                                              104

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                        302
              2                                          2
              3                                        573
              4                                        146
              5                                        166

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                        343
              2                                         21
              3                                        264
              4                                        107
              5                                        158

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      7      1                                          0.043926
              2                                          0.000000
              3                                          0.076870
              4                                          0.061771
              5                                          0.071380

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.207275
              2                                    0.001373
              3                                    0.393274
              4                                    0.100206
              5                                    0.113933

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      7      1                                    0.235415
              2                                    0.014413
              3                                    0.181194
              4                                    0.073439
              5                                    0.108442

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      7      1                       0.0
              2                       0.0
              3                       0.0
              4                       0.0
              5                       0.0

[5 rows x 22 columns]

In [223]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba7_mae = mean_absolute_error(prueba_7.y_ventas_siguiente_mes, prueba_7.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba7_mse = mean_squared_error(prueba_7.y_ventas_siguiente_mes, prueba_7.ventas_por_mes_pred)

# R-squared scores
prueba7_r2 = r2_score(prueba_7.y_ventas_siguiente_mes, prueba_7.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba7_mae, 6))
print('Mean Squared Error:', round(prueba7_mse, 6))
print('R-squared scores:', round(prueba7_r2, 6))

Mean Absolute Error: 0.011526
Mean Squared Error: 0.02246
R-squared scores: -0.17995

.. .. .. .. .. .. .. .. .. .. .. .. Octava Partición .. .. .. .. .. .. .. .. .. .. .. ..

In [224]:
# 1. HACER PREDICCIONES: CALCULAR ERROR DE PRUEBA
pred8_prueba = modelo_8.predict(prueba_x8) 
pred8_prueba

array([0.085669  , 0.00499232, 0.085669  , ..., 0.00499232, 0.00499232,
       0.00499232])

In [225]:
# Calcular máximo y mínimo
max(pred8_prueba)

2.0040650406504064

In [226]:
min(pred8_prueba)

0.004992317247631888

In [227]:
# 2. REDONDEAR Y AJUSTAR VALORES
pred8_prueba = np.clip(pred8_prueba,0,20).round() #rango de valores 
pred8_prueba

array([0., 0., 0., ..., 0., 0., 0.])

In [228]:
# ¿Cuántas unidades se van a vender (prediccoión) en ese mes de prueba (en todos los puntos de venta , considerando todos los productos)?
pred8_prueba.sum()

29.0

In [229]:
# 3. JUNTAR DATOS PARA PODER CALCULAR ERROR
prueba_8['ventas_por_mes_pred'] = pred8_prueba

In [230]:
prueba_8

                      ventas_totales  y_ventas_siguiente_mes  \
pdv_id mes_id sku_id
1      8      1                    0                       0
              2                    0                       0
              3                    0                       0
              4                    0                       0
              5                    0                       0
...                              ...                     ...
1457   8      25                   0                       0
              26                   0                       0
              27                   0                       0
              28                   0                       0
              29                   0                       0

                      ventas_totales_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      8      1                                          1
              2                                          1
              3                                          1
              4                                          1
              5                                          1
...                                                    ...
1457   8      25                                         0
              26                                         0
              27                                         0
              28                                         0
              29                                         0

                      ventas_promedio_en_tienda_de_cada_mes  \
pdv_id mes_id sku_id
1      8      1                                    0.034483
              2                                    0.034483
              3                                    0.034483
              4                                    0.034483
              5                                    0.034483
...                                                     ...
1457   8      25                                   0.000000
              26                                   0.000000
              27                                   0.000000
              28                                   0.000000
              29                                   0.000000

                      ventas_totales_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      8      1                                         19
              2                                          1
              3                                         26
              4                                         29
              5                                         35
...                                                    ...
1457   8      25                                         4
              26                                         2
              27                                         1
              28                                         0
              29                                         1

                      ventas_promedio_en_tienda_de_cada_sku  \
pdv_id mes_id sku_id
1      8      1                                    0.013040
              2                                    0.000686
              3                                    0.017845
              4                                    0.019904
              5                                    0.024022
...                                                     ...
1457   8      25                                   0.002745
              26                                   0.001373
              27                                   0.000686
              28                                   0.000000
              29                                   0.000686

                      ventas_totales_1_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                 0
              2                                 0
              3                                 0
              4                                 0
              5                                 0
...                                           ...
1457   8      25                                0
              26                                0
              27                                0
              28                                0
              29                                0

                      ventas_totales_2_meses_pasados  \
pdv_id mes_id sku_id
1      8      1                                    0
              2                                    0
              3                                    0
              4                                    0
              5                                    0
...                                              ...
1457   8      25                                   0
              26                                   0
              27                                   0
              28                                   0
              29                                   0

                      ventas_totales_3_meses_pasados  \
pdv_id mes_id sku_id
1      8      1                                    0
              2                                    0
              3                                    4
              4                                    0
              5                                    0
...                                              ...
1457   8      25                                   0
              26                                   0
              27                                   0
              28                                   0
              29                                   0

                      ventas_totales_tienda_y_mes_del_mes_pasado  ...  \
pdv_id mes_id sku_id                                              ...
1      8      1                                                0  ...
              2                                                0  ...
              3                                                0  ...
              4                                                0  ...
              5                                                0  ...
...                                                          ...  ...
1457   8      25                                               0  ...
              26                                               0  ...
              27                                               0  ...
              28                                               0  ...
              29                                               0  ...

                      ventas_promedio_tienda_y_mes_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                               0.0
              2                                               0.0
              3                                               0.0
              4                                               0.0
              5                                               0.0
...                                                           ...
1457   8      25                                              0.0
              26                                              0.0
              27                                              0.0
              28                                              0.0
              29                                              0.0

                      ventas_promedio_tienda_y_mes_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.034483
              2                                    0.034483
              3                                    0.034483
              4                                    0.034483
              5                                    0.034483
...                                                     ...
1457   8      25                                   0.000000
              26                                   0.000000
              27                                   0.000000
              28                                   0.000000
              29                                   0.000000

                      ventas_promedio_tienda_y_mes_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.551724
              2                                    0.551724
              3                                    0.551724
              4                                    0.551724
              5                                    0.551724
...                                                     ...
1457   8      25                                   0.000000
              26                                   0.000000
              27                                   0.000000
              28                                   0.000000
              29                                   0.000000

                      ventas_totales_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                               38
              2                                                2
              3                                               49
              4                                               75
              5                                               89
...                                                          ...
1457   8      25                                               1
              26                                               2
              27                                               4
              28                                               0
              29                                               0

                      ventas_totales_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                         64
              2                                          0
              3                                        112
              4                                         90
              5                                        104
...                                                    ...
1457   8      25                                         0
              26                                         0
              27                                         1
              28                                         0
              29                                         0

                      ventas_totales_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                        302
              2                                          2
              3                                        573
              4                                        146
              5                                        166
...                                                    ...
1457   8      25                                         0
              26                                         3
              27                                         7
              28                                         1
              29                                         0

                      ventas_promedio_tienda_y_sku_del_mes_pasado  \
pdv_id mes_id sku_id
1      8      1                                          0.026081
              2                                          0.001373
              3                                          0.033631
              4                                          0.051476
              5                                          0.061084
...                                                           ...
1457   8      25                                         0.000686
              26                                         0.001373
              27                                         0.002745
              28                                         0.000000
              29                                         0.000000

                      ventas_promedio_tienda_y_sku_2_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.043926
              2                                    0.000000
              3                                    0.076870
              4                                    0.061771
              5                                    0.071380
...                                                     ...
1457   8      25                                   0.000000
              26                                   0.000000
              27                                   0.000686
              28                                   0.000000
              29                                   0.000000

                      ventas_promedio_tienda_y_sku_3_pasado  \
pdv_id mes_id sku_id
1      8      1                                    0.207275
              2                                    0.001373
              3                                    0.393274
              4                                    0.100206
              5                                    0.113933
...                                                     ...
1457   8      25                                   0.000000
              26                                   0.002059
              27                                   0.004804
              28                                   0.000686
              29                                   0.000000

                      ventas_por_mes_pred
pdv_id mes_id sku_id
1      8      1                       0.0
              2                       0.0
              3                       0.0
              4                       0.0
              5                       0.0
...                                   ...
1457   8      25                      0.0
              26                      0.0
              27                      0.0
              28                      0.0
              29                      0.0

[42253 rows x 22 columns]

In [231]:
# 4. CALCULAR ERRORES CON FUNCIONES DE PAQUETERÍA

# Mean absolute error (MAE)
prueba8_mae = mean_absolute_error(prueba_8.y_ventas_siguiente_mes, prueba_8.ventas_por_mes_pred)

# Mean squared error (MSE)
prueba8_mse = mean_squared_error(prueba_8.y_ventas_siguiente_mes, prueba_8.ventas_por_mes_pred)

# R-squared scores
prueba8_r2 = r2_score(prueba_8.y_ventas_siguiente_mes, prueba_8.ventas_por_mes_pred)


# Print metrics
print('Mean Absolute Error:', round(prueba8_mae, 6))
print('Mean Squared Error:', round(prueba8_mse, 6))
print('R-squared scores:', round(prueba8_r2, 6))

Mean Absolute Error: 0.001538
Mean Squared Error: 0.002248
R-squared scores: -0.9013

In [232]:
#Exportar df excel
prueba_8.to_excel('prueba_8.xlsx')